---
layout: default
---

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <hr />
  </header>

  <div class="post-content">
    {{ content }}

    {% assign p_array = "" | split:"|"  %}
    {% for item in site.store %}
    {% capture p_slug %}{{ item.url | split:"/" | last }},{{ item.url }}{% endcapture %}
    {% assign p_slug_arr = p_slug | split:"," %}
    {% assign p_array = p_array | push: p_slug_arr  %}
    {% endfor %}

    <div class="projects">
		{% for i in site.data.store %}
			{% if forloop.first == true %}
			<div class="projects-container">
			{% endif %}
    	<div class="project-item" data-tags='{{ i.tags | jsonify | downcase }}'>
    		<div class="project-inner">
    			<a href="/static/store/{{ i.image }}" class="thickbox">
    			<div class="project-img bordered" style="background-image: url('/static/store/{{ i.image }}');"></div>
                </a>
                {% assign p_url = nil %}
                {% for pr in p_array %}
                    {% if pr contains i.slug %}
                        {% assign p_url = pr[1] %}
                    {% endif %}
                {% endfor %}
                {% if p_url == nil %}{% assign p_url = i.url %}{% endif %}
                {% if p_url %}<a class="project-detail" href="{{ p_url }}">{% endif %}
    			<h3 class="project-headlines">{{ i.name }}</h3>
    			{% if p_url %} </a> {% endif %}
    			<div class="project-content">
    				<div class="tag-holder">
    				{% if i.tags %}
    					{% for j in i.tags %}
							<span class="tag-filter label label-primary" data-tag="{{ j | downcase }}"><a href="#{{ j }}"></a>{{ j }}</span>
							{% endfor %}
						{% endif %}
						</div>

					</div>
					<div class="project-footer">
						{% if i.url %}
						<a href="{{ i.url }}" class="project-link mr-4" target="_blank">:earth_americas:</i></a>
						{% endif %}
						{% if i.github %}
						<a href="{{ i.github }}" class="project-link mr-4" target="_blank"><i class="fa fa-github"></i></a>
						{% endif %}
						{% if i.buyUrl %}
						<a href="{{i.buyUrl}}" class="project-link mr-4" target="_blank">:shopping_cart:</a>
						{% endif %}
						
						<span class="project-timeline">
							{% assign m = i.date | date: "%-m"  %}
							{% case m %}
															{% when '1' %}Enero
															{% when '2' %}Febrero
															{% when '3' %}Marzo
															{% when '4' %}Abril
															{% when '5' %}Mayo
															{% when '6' %}Junio
															{% when '7' %}Julio
															{% when '8' %}Agosto
															{% when '9' %}Septiembre
															{% when '10' %}Octubre
															{% when '11' %}Noviembre
															{% when '12' %}Diciembre
							{% endcase %}
						{{ i.date | date: "%Y" }}
						</span>
					</div>
				</div>
				<hr>
			</div>
			{% if forloop.last == true %}
			</div>
			{% endif %}
    {% endfor %}
    </div>
  </div>

</article>
